.cadastro-container {
  width: 400px; 
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  color: #0056b3;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form {
  width: 100%; 
  max-width: 360px; 
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto; 
}

input, select {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.primary-button {
  background-color: #2d7d2f;
  color: white;
  border: none;
}
