.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    height: auto; 
    min-height: 100vh; 
    padding-top: 50px; 
}

.form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input {
    width: 100%;  
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
    box-sizing: border-box;  
}

.date-input {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}


.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.primary-button, .secondary-button {
    width: 100%;  
    max-width: 400px; 
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.primary-button {
    background-color: #2d7d2f;
    color: white;
    border: none;
}

.secondary-button {
    background-color: #1259c3;
    color: white;
    border: none;
    margin-top: 10px;
}
