.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh; 
    width: 100%;
    padding: 40px 0;
    
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1900px;
    height: 1000px;
    padding: 20px;
    border-radius: 10px;
}
